block about
  .card.bg-light.shadow
    .card-header
      h5.card-subtitle About
    .card-body
      //- h6.card-subtitle.mb-2 Bio
      p.card-text.mb-4 I am currently a senior at San Francisco State University, studying computer science. My specialty is building microservices that scale. I have extensive experience working the entire stack but I get the most satisfaction from working on the backend. 
      //- h6.card-subtitle.mb-2 Interests
      //- p.card-text Some of my interests include Formula 1, investing, 
      p.card-text In my free time I like to go on hikes, watch Formula 1, and spend time with my friends. I also try to workout and partake in sim racing whenever I get the chance. 