block about
  .card.bg-light.shadow
    .card-header
      h5.card-subtitle About
    .card-body
      //- h6.card-subtitle.mb-2 Bio
      p.card-text.mb-4 I am currently a senior at San Francisco State University, studying computer science.
        |  My passion is building scalable backend services and I have extensive experience using Node.js to do so. In addition to Node.js, I also enjoy working with Python and Go to create backend services. I have some experience working on the frontend and have created a few projects using React.
      p.card-text.mb-4 My greatest strengths are that I approach every situation with an open mind and am eager to learn new things.
      //- h6.card-subtitle.mb-2 Interests
      //- p.card-text Some of my interests include Formula 1, investing, 
      p.card-text In my free time I like to go on hikes, watch Formula 1, and spend time with my friends. I also try to workout and partake in sim racing whenever I get the chance. 