block education
  .card.bg-light.shadow
    .card-header.card-header-purple
      h5.card-subtitle Education
    .card-body
      img(height="35" src="/images/sfsu.png") 
      span.card-title.text-purple  San Francisco State University
      br
      small.card-text Bachelor of Science: Computer Science
      br
      small.card-text.text-muted Expected December 2021