block resume
  .card.bg-light.shadow
    .card-header.bg-success
      h5.card-subtitle Resume
    .card-body
      p.card-text I am avidly seeking out all software engineering related opportunities.
      //- p.card-text All opportunities are deeply appreciated.
      a.btn.btn-sm.btn-outline-success.d-block(data-toggle="tooltip" data-placement="bottom" title="Opens in Google Docs" target="_blank" href="https://docs.google.com/document/d/12CtRSXVygaxOs9nmTjUSesVBN0BVvavC-Tr4p92o-iY/edit?usp=sharing") View Resume 
        i.fab.fa-google-drive
      small.text-muted.text-center Last updated: 
        span.text-black July 22, 2021