- 
  var languages = [
    { name: "C/C++", mastery: "Proficient", level: '4' },
    { name: "Java", mastery: "Proficient", level: 4 },
    { name: "TypeScript", mastery: "Proficient", level: 4 },
    { name: "JavaScript", mastery: "Proficient", level: 4 },
    { name: "Python", mastery: "Proficient", level: 4 },
    { name: "SQL", mastery: "Proficient", level: 4 },
    { name: "Go", mastery: "Intermediate", level: 3 }
  ]
block languages
  .card.bg-light.shadow
    .card-header.bg-light-gray
      h5.card-subtitle Languages
    .card-body
      .list-group 
        for l in languages
          div.flex-column.align-items-start.mb-2
            .d-flex.w-100.justify-content-between
              h4.mb-1=l.name
              small                
                each _, i in Array(5)
                  if l.level > i
                    i.fas.fa-xs.fa-circle
                  else
                    i.far.fa-xs.fa-circle
            small=l.mastery