block footer
  div
    footer.p-5.border-top.text-center
      span Built with ❤️ by Andrei Georgescu
        br
      span Layout inspired by 
        a(href="https://brianchung.co/") Brian Chung
        br
      small.text-muted Copyright © 2021 Andrei Georgescu. All Rights Reserved. 