block contact
  div.bg-light.flat
    .card-body.text-center
      h6.card-subtitle The fastest way to get a hold of me is through LinkedIn. 
      p.card-text If you'd like, you can also reach out via email.
      hr      
      a.btn.btn-sm.btn-outline-dark.me-2(type="button" data-toggle="tooltip" data-placement="bottom" title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/andrei-georgescu/") LinkedIn 
        i.fab.fa-linkedin
      a.btn.btn-sm.btn-outline-primary(type="button" data-toggle="tooltip" data-placement="bottom" title="Opens your email client" href="mailto://ageorgescu98@gmail.com") Email 
        i.fas.fa-envelope