extends layout/default
block content
  .container
    .mt-5
      section#hero
        .row
          .col-sm-12
            include components/hero

    .mt-3
      section#about
        .row.mb-2
          .col-sm-12.col-md-8.mb-2
            .row
              .col-sm-12.mb-4
                include components/about
              .col-sm-6.mb-4
                include components/technologies
              .col-sm-6.mb-4
                include components/languages
          .col-sm-12.col-md-4.mb-2
            .row
              .col-sm-12.mb-4
                include components/education
              .col-sm-12.mb-4
                include components/resume
    
    .mt-3
      section#projects
        h3.text-center Here are some things I've created
  
  .container-fluid.projects-container
    include components/projects
    
  .container
    .mt-5.mb-5
      section#contact
        h3.text-center.mb-5 Lets connect!
        .row
          .col-sm-12
            include components/contact