extends layout
block content
  div.container
    div.p-2.mt-5
        section#hero
          div.row
            .col-sm-12
              include hero

    div.p-2.mt-3
      section#about
      .mb-2
        .row
          .col-sm-12.col-md-8.mb-2
            .row
              .col-sm-12.mb-4
                include about
              .col-sm-6.mb-4
                include technologies
              .col-sm-6.mb-4
                include languages
              
          .col-sm-12.col-md-4.mb-2
            .row
              .col-sm-12.mb-4
                include education
              .col-sm-12.mb-4
                include resume
    
    div.p-2.mt-3
      section#projects
        h3.text-center Here are some things I've created
        include projects
    
    div.mt-5.mb-5
      section#contact
        h3.text-center.mb-5 Lets connect!
        .row
          .col-sm-12.col-md-6.offset-md-3
            include contact