block resume
  .card.bg-light.shadow
    .card-header.bg-success
      h5.card-subtitle Resume
    .card-body
      p.card-text I am avidly seeking out opportunities to begin my software engineering career.
      p.card-text All opportunities are deeply appreciated.
      a.btn.btn-sm.btn-outline-success.d-block(type="button" data-toggle="tooltip" data-placement="bottom" title="Opens in Google Drive" target="_blank" href="https://drive.google.com/file/d/1pqebAUAncJKmA2xLgWXELrKIAdF-E5VU/view") View Resume 
        i.fas.fa-file 
      //- small.text-muted.text-center Last updated: 
      //-   span.text-black May 31, 2021